<div class="card">
    <div class="locationDiv">
        <span class="locationTag">Location: <span class="bold"><%= location %></span></span>
        <span class="areaTag">Area: </span>
        <span class="AreaEntry"></span>
    </div>
    <div class="starsDiv">
        <div class="userStars"></div>
        <div class="starSeperator"></div>
        <div class="averageStars"></div>
    </div>
    <div class="textDiv">
        <p class="textEntry"></p>
    </div>
    <div class="imageDiv">
        <img class="image" src='data:image/jpeg;base64,<%= spot.img %>'>
    </div>
</div>