<div class="card">
    <div class="locationDiv">
        <span class="locationTag">Location: <span class="bold"><%= spot.location %></span></span>
        <span class="areaTag">Area: <span class="bold"><%= spot.area %></span></span>
    </div>
    <div class="starsDiv">
    </div>
    <div class="textDiv">
        <p class="textEntry"><%= spot.description %></p>
    </div>
    <div class="imageDiv">
        <img class="image" src='data:image/jpeg;base64,<%= spot.img %>'>
    </div>
</div>