<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>
<div class="card">
    <div class="locationDiv">
        <span class="locationTag">Location: <span><%= spot.location %></span></span>
        <span class="areaTag">Area: <span><%= spot.area %></span></span>
    </div>
    <div class="starsDiv">
        <% var i%>
        <%for (i = 0; i < Math.floor(spot.rating); i++) {%>
                <p class="fixedstar">★</p>
        <%}%>
        <%for (var j = i; j < 5; j++) {%>
            <p class="emptystar">☆</p>
        <%}%>
    </div>
    <div class="textDiv">
        <p class="textEntry" style="font-style: italic;"><%= spot.description %></p>
    </div>
    <div class="imageDiv">
        <img class="image" src='data:image/jpeg;base64,<%= spot.img %>'>
    </div>
</div>