<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Spots</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../public/ccc/spots.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src='/resources/spots.js'></script>
</head>
<body>
    <div class="card">
        <div class="locationDiv">
            <span class="locationTag">Location: </span>
            <span class="locationEntry"></span>
            <span class="areaTag">Area: </span>
            <span class="AreaEntry"></span>
        </div>
        <div class="starsDiv">
            <div class="userStars"></div>
            <div class="starSeperator"></div>
            <div class="averageStars"></div>
        </div>
        <div class="textDiv">
            <p class="textEntry">WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW.</p>
        </div>
        <div class="imageDiv">
            <img class="image" src="../public/imgs/WPI_Beech_Tree.jpg">
        </div>
    </div>
</body>
</html>