<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Spots</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/public/css/spots.css" rel="stylesheet" type="text/css" />
    <script src='/resources/spots.js'></script>
</head>

<body>
    <div class="cardcontainer">
        <% for (i = 0; i < list.length; i++) {%>
            <%- include('partials/card', {location : list[i]})%>
        <%}%>
    </div>
</body>

</html>