* {
    font-family: "Raleway", sans-serif;
    font-size: 20pt;
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 12pt;
}

body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../imgs/WPI_Beech_Tree.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f5f5f5;
    filter: drop-shadow(0 0 0.75rem black);
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mb-3 {
    display: inline-flex;
    width: 600px;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

#descriptionSm {
    resize: none;
}

#formFileSm {
    width: 35%;
}
